body {
	background-color: #ffffff;
	color: $primaryTextColor;
	font-family: $primaryFontFamily;
	letter-spacing: 0.03em;
	justify-content: center;
}
ul {
	list-style: none;
}
.visually-hiden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section__title {
	margin-top: 0;
	margin-bottom: 50px;

	color: $titleTextColor;

	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
