.filters__list {
	display: flex;
	margin: 0;
	justify-content: center;
}
.button--color {
	padding: 6px 25px;

	color: $titleTextColor;
	background-color: #f5f4fa;
	font-weight: 500;
	line-height: 1.62;

	transition-property: background-color, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $mainWhite;
		background-color: $acentColor;
	}
}
.filters__item:not(:last-child) {
	margin-right: 8px;
}
