.page-footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}
.page-footer__block {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	align-items: baseline;
}
.address__container {
	width: 270px;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.address__street {
	margin: 0;
	margin-bottom: 9px;
	color: $mainWhite;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}
.address {
	margin-top: 20px;
}
.address__list {
	padding: 0;
	margin: 0;
}
.address__item {
	margin-bottom: 9px;

	&:last-child {
		margin: 0;
	}
}
.contacts--style {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;

	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
