.networks__list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.networks__item {
	background-color: transparent;
	box-shadow: none;
	border-color: transparent;
	border-radius: 50%;

	&:not(:last-child) {
		margin-right: 10px;
	}
}
.networks__link {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: transparent;
	fill: #afb1b8;

	transition-property: background-color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $acentColor;
		fill: $mainWhite;
	}
}
.networks__icon {
	width: 20px;
	height: 20px;
}
.page-footer__networks {
	font-size: 14px;
	font-weight: 700;
	color: $mainWhite;
	text-transform: uppercase;
	padding-left: 30px;
}
.networks__title {
	margin-top: 0;
}
.networks__link--color {
	background-color: rgba(255, 255, 255, 0.1);
	fill: $mainWhite;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $acentColor;
	}
}
