.container--position {
	display: flex;
	align-items: center;
}
.page-header {
	background-color: $mainWhite;
}
.nav {
	display: block;
}
.nav__list {
	display: flex;
	padding: 0;
	margin: 0;
}
.nav__item {
	&:not(:last-child) {
		margin-right: 50px;
	}
	&:first-child {
		margin-right: 93px;
	}
}
.nav__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: $titleTextColor;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $acentColor;
	}
}

.nav__link--current {
	position: relative;
	color: $acentColor;

	&::after {
		position: absolute;
		content: "";
		height: 4px;
		width: 100%;
		background-color: $acentColor;
		bottom: 0;
		left: 0;
		border-radius: 2px;
	}
}
.contacts {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.contacts__item:not(:last-child) {
	margin-right: 50px;
}

.contacts__link {
	color: $primaryTextColor;
	fill: $primaryTextColor;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition-property: fill, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $acentColor;
		fill: $acentColor;
	}
}

.contacts__icon {
	margin-right: 5px;
	vertical-align: middle;
}
.page-header--botom-line {
	border-bottom: 1px solid #ececec;
}
