.section--bottom-padding {
	padding-bottom: 59px;
}
.preference {
	display: flex;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.preference__item {
	width: 270px;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.preference__title {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14em;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: $titleTextColor;
}
.preference__iconbox {
	border-radius: 4px;
	background-color: #f5f4fa;
	text-align: center;
	align-items: center;
}
.preference__icon {
	margin-top: 25px;
	margin-bottom: 25px;
}
.preference__text {
	font-size: 14px;
	line-height: 1.71;
	margin-top: 0;
	margin-bottom: 0;
}
