body {
	background-color: #ffffff;
	color: $primaryTextColor;
	font-family: $primaryFontFamily;
	letter-spacing: 0.03em;
	justify-content: center;
}
ul {
	list-style: none;
}
.visually-hiden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.section {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.section__title {
	margin-top: 0;
	margin-bottom: 30px;
	color: $titleTextColor;

	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
		font-size: 36px;
	}
}
.container {
	// max-width: 480px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}
	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
