.button-menu {
	display: inline-flex;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	background-color: aqua;
	align-items: center;
}
.icon-cross {
	display: none;

	.button-menu.is-open & {
		display: block;
	}
}
.button-menu.is-open .icon-menu {
	display: none;
}

.container__menu {
	@media screen and (min-width: 480px) and (max-width: 767px) {
		position: absolute;
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
