.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $mainWhite;
	justify-content: center;
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
	transform: translateX(0);
}
.menu-container .menu-toggle {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
}
@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}
.menu-toggle:hover,
.menu-toggle:focus {
	fill: $acentColor;
}
.mobile-menu {
	// margin-top: 46px;
	margin: 0 auto;
	padding-left: 40px;
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: transparent;
	max-width: 480px;
	// max-width: 480px;
	// z-index: 5;
}
.nav {
	@media screen and (max-width: 767px) {
		margin-bottom: 302px;
	}
}
.nav__item {
	@media screen and (max-width: 767px) {
	}
}
.nav__item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 32px;
	}
}
.nav__list {
	padding: 0;
	margin: 0;
}
.nav__link {
	color: $titleTextColor;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: $acentColor;
	}

	@media screen and (max-width: 767px) {
		font-size: 40px;
		line-height: 1.17;
	}
}
.nav__link--current {
	position: relative;
	color: $acentColor;
}
.contacts {
	margin: 0;
	padding: 0;
	@media screen and (max-width: 767px) {
		margin-bottom: 64px;
	}
}
.contacts__item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 32px;
	}
}
.contacts__link {
	color: $primaryTextColor;
	fill: $primaryTextColor;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition-property: fill, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $acentColor;
		fill: $acentColor;
	}

	@media screen and (max-width: 767px) {
		font-size: 34px;
		line-height: 1.17;
	}
}
.mabile-menu__networks {
	display: flex;
	margin: 0;
	padding: 0;
}
.mobile-menu__networks-item {
	&:not(:last-child) {
		padding-right: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
	&:not(:first-child) {
		padding-left: 10px;
	}
}
.mobile-menu__link {
	font-family: $primaryFontFamily;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	color: $primaryTextColor;

	&:hover,
	&:focus {
		color: $acentColor;
	}
}
