.page-header {
	position: relative;

	&--bottom-line {
		border-bottom: 1px solid #ececec;
	}
}

.container--position {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px) {
		justify-content: space-between;
		// padding-top: 10px;
		// padding-bottom: 10px;
	}
	@media screen and (min-width: 768px) {
		justify-content: space-between;
		height: 100%;
	}
}
