$acentColor: #2196f3;
$primaryTextColor: #757575;
$titleTextColor: #212121;
$mainWhite: #ffffff;
$heroBackground: #2f303a;
$primaryFontFamily: Roboto, sans-serif;
$heroButtonFont: Roboto, sans-serif;
$logoFontFamily: Raleway, sans-serif;
